*,
*::before,
*::after {
    box-sizing: border-box;
    list-style: none;
    padding:0;
    margin:0;
    
}
:root {
    --fw-reg:300;
    --fw-bold:900;
    --clr-accent: #16e0bd;
    --clr-dark: #303030;
    --fs-h1:3rem;
    --fs-h2:2.25rem;
    --fs-h3:1.25rem;
    --fs-body: 1refm;

}
@media (min-width: 800px) {
    :root{
        --fs-h1 :4.5rem;
        --fs-h1:3.75rem;
        --fs-h2:2.25rem;
        --fs-h3:1.25rem;
        --fs-body: 1refm;
    }
    
}
body{
    /* background-image: url("images/background.jpg"); */
    background-color: #FFE2E8;
    color: #FFE2E8;
    margin:0;
    font-family: sans-serif;
    font-size: var(--fs-body)
    
}


h1 { color: #FF839D; font-family: 'Helvetica Neue', sans-serif; font-size: 50px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; padding-top: 50px; padding-bottom: 15px;}


h2{font-size: var(--fs-h2);}
h3{font-size: var(--fs-h3);}
p{font-size: var(--fs-h3);}
.nav{
    display:flex;
    width: 100%;
    justify-content: space-between;  
    align-items: center;
    background-color: #FF839D;
}
.nav_list{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    
}   

.nav h1 {
    padding-left: 3%;
    color:#FFE2E8;

}
.nav_item{ 
    padding: 10px;
    color: #FFE2E8;
    
}
.nav_list .nav_item{
    margin: 20px;
    border-radius: 6rem;
    background-color: #FFE2E8;
    
    
}
.nav .nav_list a{
    text-decoration:none;
    color:#FF839D
}

.nav_list .nav_item:hover{
    background-color: #99936b;
    cursor: pointer;
    text-decoration: none;
}
.project_team{
    padding-bottom: 50px;
}
.project_team p{
    background-color: #FF839D;
    width: 80%;
     margin-left:10%; 
    border-radius: 6rem;
}
.project_team p {
    flex:1;
    text-align: left;
    
    padding-top:100px;
    padding: 50px;
    
}
.project_team h1{
    text-align:center;
}

.interview_report{
    display: flex;
    flex-direction: row;
    width: 80%;
     margin-left: 10%; 
    padding :50px 0 50px 100px;
    border-radius: 6rem;
    background-color: #FF839D;
    align-items: center;
}
.interview_details{
    padding-left: 20%;
}
.interview_detail{
    font-size:40px;
    padding:20px;
    color: #FFE2E8;
}
.interview_report h1{text-align: center;}
.internal_interview{
    margin-left: 5%;
    display:inline-block;
    width: 80%;
    align-items: center;
    
}
.interview_detail a{
    color: #FFE2E8;
}

.team_profile h1{
    text-align: center;
}

.Profiles{

    display:flex;
    justify-content: center;
    flex-basis: auto;
    background-color: #FF839D;
    border-radius: 6rem;
    width: 80%;
    margin-left:10%;

}
.member{ margin: 3%;flex:1;}

.member a img {
    display: block;
    max-width: 100%;
    border-radius: 6rem;
    transition: transform .2s;
}

.member h3{
    text-align:center;
    padding-top: 5%;
    
}
.member p{
   
    word-break: break-all;
    padding-top: 50px;
}

.end{
    display: flex;
    justify-content: space-between;
    background-color: #FF839D;

}
.end img{
    padding:20px;
    padding-left:5%;
}
.contact{
      display: flex; 
     flex-direction: column; 
     justify-content: center;
    margin-right:5%;
}


#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(0, 76, 163);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

.member p span{
    font-weight: 600;
}


.box {
    margin: 25px;
}
img {
    display: block;
    transition:all 0.25s ease;
}

.box:hover img {
    transform:scale(1.25)
}

.Tools{
    
}